#flying-focus {
	position: absolute;
	margin: 0;
	background: transparent;
	-webkit-transition-property: left, top, width, height, opacity;
	transition-property: left, top, width, height, opacity;
	-webkit-transition-timing-function: cubic-bezier(0, 0.2, 0, 1);
	transition-timing-function: cubic-bezier(0, 0.2, 0, 1);
	visibility: hidden;
	pointer-events: none;
	box-shadow: 0 0 2px 3px #78aeda, 0 0 2px #78aeda inset; border-radius: 2px;
}
#flying-focus.flying-focus_visible {
	visibility: visible;
	z-index: 9999;
}
.flying-focus_target {
	outline: none !important; /* Doens't work in Firefox :( */
}

/* Replace it with @supports rule when browsers catch up */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
	#flying-focus {
		box-shadow: none;
		outline: 5px auto -webkit-focus-ring-color;
		outline-offset: -3px;
	}
}
