<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Nikita Vasilyev</string>
	<key>Builder Version</key>
	<string>8537.71</string>
	<key>CFBundleDisplayName</key>
	<string>Flying Focus</string>
	<key>CFBundleIdentifier</key>
	<string>com.n12v.flying-focus</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.1</string>
	<key>CFBundleVersion</key>
	<string>1.2.1</string>
	<key>Chrome</key>
	<dict/>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>flying-focus.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>flying-focus.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Animates the focus change with a visible box moving between fields as you tab on different elements.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://n12v.com/focus-transition/update.plist</string>
	<key>Website</key>
	<string>http://n12v.com/focus-transition/</string>
</dict>
</plist>
